# Environments
venv/
.env

# Model Checkpoints (Crucial to block heavy files)
src/checkpoints/
*.ckpt

# Python execution caches
__pycache__/
*.pyc

# Local Data and Run Folders
src/cache/
results/
dataset/
outputs/

